# LECTURA DE LA BASE

In [16]:
import pandas as pd
import numpy as np
from pandas import DataFrame 
from sklearn.tree import DecisionTreeClassifier

In [17]:
import zipfile
with zipfile.ZipFile('cost_sensitive_classification_churn.csv.zip', 'r') as z:
    f = z.open('cost_sensitive_classification_churn.csv')
    data = pd.io.parsers.read_table(f, sep=',')

# Target, variable que reporta el abandono o no de los clientes.

In [18]:
data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x42,x43,x44,x45,x46,C_FP,C_FN,C_TP,C_TN,target
0,0,0,1,1,1,0,1,1,0,0,...,1,1,5,2,2,74.000000,1028.571429,121.828571,0,0
1,1,0,1,1,1,0,1,1,0,0,...,3,1,5,2,4,53.428571,1028.571429,82.742857,0,0
2,2,1,1,1,1,0,1,1,0,0,...,1,8,3,1,4,66.285714,1285.714286,102.928571,0,0
3,3,1,1,1,0,0,1,1,0,0,...,1,8,4,3,2,92.000000,1285.714286,151.785714,0,0
4,4,0,1,1,1,0,1,1,0,0,...,1,7,5,2,4,53.428571,1028.571429,82.742857,0,0

In [19]:
data.shape

(9379, 52)

# Propoción de la varible target

In [20]:
data.target.value_counts(normalize=False)

0    8930
1     449
Name: target, dtype: int64

In [21]:
data.target.value_counts(normalize=True)

0    0.952127
1    0.047873
Name: target, dtype: float64

In [22]:
X =data[['x'+str(i) for i in range(1, 47)]]

In [23]:
X.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x37,x38,x39,x40,x41,x42,x43,x44,x45,x46
0,0,1,1,1,0,1,1,0,0,1,...,-0.208086,-0.066014,-0.075314,-0.435398,-0.04151,1,1,5,2,2
1,0,1,1,1,0,1,1,0,0,1,...,-0.208086,-0.066014,-0.075314,-0.435398,-0.04151,3,1,5,2,4
2,1,1,1,1,0,1,1,0,0,1,...,-0.208086,-0.066014,-0.075314,0.836751,-0.04151,1,8,3,1,4
3,1,1,1,0,0,1,1,0,0,1,...,-0.208086,-0.066014,-0.075314,0.836751,-0.04151,1,8,4,3,2
4,0,1,1,1,0,1,1,0,0,1,...,-0.208086,-0.066014,-0.075314,-0.435398,-0.04151,1,7,5,2,4

In [24]:
y = data.target

In [25]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: float64

In [26]:
y.value_counts(normalize=False)

0    8930
1     449
Name: target, dtype: int64

# Matriz de costos

In [27]:
cost_mat = data[['C_FP','C_FN','C_TP','C_TN']].values

In [28]:
cost_mat

array([[   74.      ,  1028.571429,   121.828571,     0.      ],
       [   53.428571,  1028.571429,    82.742857,     0.      ],
       [   66.285714,  1285.714286,   102.928571,     0.      ],
       ...,
       [   98.      ,  1371.428571,   161.771429,     0.      ],
       [   53.428571,  1028.571429,    82.742857,     0.      ],
       [   53.428571,  1028.571429,    82.742857,     0.      ]])


# Training and test

In [29]:
from  sklearn.cross_validation import train_test_split

In [30]:
temp = train_test_split(X, y, cost_mat, test_size=0.33, random_state=42)

In [31]:
X_train, X_test, y_train, y_test, cost_mat_train, cost_mat_test = temp

In [32]:
temp

[      x1  x2  x3  x4  x5  x6  x7  x8  x9  x10 ...        x37       x38  \
 5667   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7263   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1563   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4950   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8030   0   1   1   1   1   1   1   0   0    1 ...  -0.208086 -0.066014
 7040   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1979   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1883   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 438    0   1   1   1   0   0   1   1   0    1 ...   3.071972 -0.066014
 9049   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3794   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8849   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4113   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2986   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6828   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8640   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2280   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8756   0   1   1   1   0   0   1   1   0    1 ...   6.352029 -0.066014
 7536   0   1   1   0   1   1   1   0   0    1 ...  -0.208086 -0.066014
 4712   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 373    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4539   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8644   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2585   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1332   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7838   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 9047   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3774   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1784   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 9374   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 ...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ... ...        ...       ...
 2734   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 189    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 9167   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2747   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2047   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7849   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2558   1   1   1   0   1   1   1   0   0    1 ...  -0.208086 -0.066014
 9274   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8666   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6396   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3385   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4555   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1184   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6420   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5051   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5311   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2433   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6949   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 769    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1685   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8322   0   1   1   1   0   0   1   0   0    1 ...   1.431943 -0.066014
 5578   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4426   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 466    1   1   1   0   0   1   0   0   0    1 ...  -0.208086 -0.066014
 6265   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5734   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5191   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5390   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 860    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7270   0   1   1   1   1   1   1   0   0    1 ...  -0.208086 -0.066014

            x39       x40      x41  x42  x43  x44  x45  x46
 5667 -0.075314 -0.435398 -0.04151    2    8    2    1    4
 7263 -0.075314  3.381048 -0.04151    1    8    1    2    3
 1563 -0.075314 -0.435398 -0.04151    1    1    1    2    3
 4950 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 8030 -0.075314 -0.435398 -0.04151    3    1    3    2    2
 7040 -0.075314 -0.435398 -0.04151    1    8    3    1    2
 1979 -0.075314 -0.435398 -0.04151    2    8    5    2    4
 1883 -0.075314 -0.435398 -0.04151    2    7    3    1    2
 438  -0.075314 -0.435398 -0.04151    2    8    5    2    4
 9049 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 3794 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 8849 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 4113 -0.075314  3.381048 -0.04151    1    8    3    2    2
 2986 -0.075314  0.836751 -0.04151    2    8    3    2    4
 6828 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 8640 -0.075314  0.836751 -0.04151    1    2    4    2    1
 2280 -0.075314 -0.435398 -0.04151    2    7    5    2    2
 8756 -0.075314 -0.435398 -0.04151    1    7    1    2    4
 7536 -0.075314 -0.435398 -0.04151    2    7    5    2    2
 4712 -0.075314 -0.435398 -0.04151    1    1    5    2    2
 373  -0.075314 -0.435398 -0.04151    1    8    4    2    2
 4539 -0.075314  3.381048 -0.04151    2    8    1    3    2
 8644 -0.075314 -0.435398 -0.04151    3    1    3    1    2
 2585 -0.075314 -0.435398 -0.04151    1    8    5    1    4
 1332 -0.075314 -0.435398 -0.04151    2    8    3    1    4
 7838 -0.075314 -0.435398 -0.04151    1    7    3    2    4
 9047 -0.075314 -0.435398 -0.04151    2    7    5    1    4
 3774 -0.075314  0.836751 -0.04151    2    8    1    3    2
 1784 -0.075314 -0.435398 -0.04151    1    8    3    2    2
 9374 -0.075314 -0.435398 -0.04151    2    7    3    1    4
 ...        ...       ...      ...  ...  ...  ...  ...  ...
 2734 -0.075314  0.836751 -0.04151    3    7    3    1    2
 189  -0.075314 -0.435398 -0.04151    1    7    4    2    4
 9167 -0.075314 -0.435398 -0.04151    1    8    5    3    4
 2747 -0.075314 -0.435398 -0.04151    1    8    4    2    4
 2047 -0.075314 -0.435398 -0.04151    2    8    3    2    2
 7849 -0.075314 -0.435398 -0.04151    2    7    5    2    4
 2558 -0.075314  0.836751 -0.04151    1    8    4    2    2
 9274 -0.075314 -0.435398 -0.04151    3    7    5    2    2
 8666 -0.075314 -0.435398 -0.04151    2    3    4    2    2
 6396 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 3385 -0.075314  0.836751 -0.04151    1    8    5    2    2
 4555 -0.075314 -0.435398 -0.04151    3    8    5    2    4
 1184 -0.075314 -0.435398 -0.04151    1   12    4    2    2
 6420 -0.075314 -0.435398 -0.04151    3    7    5    3    4
 5051 -0.075314 -0.435398 -0.04151    1    8    4    3    2
 5311 -0.075314  0.836751 -0.04151    1    7    3    1    2
 2433 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 6949 -0.075314  0.836751 -0.04151    1    8    3    1    4
 769  -0.075314 -0.435398 -0.04151    1    7    5    2    4
 1685 -0.075314 -0.435398 -0.04151    1    1    5    2    3
 8322 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 5578 -0.075314 -0.435398 -0.04151    1    1    5    2    2
 4426 -0.075314 -0.435398 -0.04151    1    8    1    2    3
 466  -0.075314  0.836751 -0.04151    1    2    4    2    3
 6265 -0.075314  0.836751 -0.04151    1    8    3    1    4
 5734 -0.075314 -0.435398 -0.04151    2    7    5    2    4
 5191 -0.075314 -0.435398 -0.04151    1    7    5    2    2
 5390 -0.075314 -0.435398 -0.04151    2    8    5    2    3
 860  -0.075314 -0.435398 -0.04151    1    8    3    2    4
 7270 -0.075314 -0.435398 -0.04151    1    8    3    2    4

 [6283 rows x 46 columns],
       x1  x2  x3  x4  x5  x6  x7  x8  x9  x10 ...        x37       x38  \
 2260   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4428   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5304   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2246   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6069   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8435   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 360    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2802   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7690   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7143   0   1   1   1   0   0   1   0   0    1 ...   1.431943 -0.066014
 169    0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 9188   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4344   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3208   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 483    0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3261   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7766   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1183   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3307   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7931   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3473   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1603   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2287   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3838   0   0   1   1   0   0   1   0   0    1 ...   1.431943 -0.066014
 1084   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5418   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8159   1   0   1   0   0   0   1   0   0    1 ...   4.712000 -0.066014
 8410   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 416    0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3653   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 ...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ... ...        ...       ...
 1669   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2112   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8035   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6066   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7015   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5404   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 84     0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6086   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7229   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2283   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2887   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8131   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 5281   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 418    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7888   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 7367   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 2709   0   1   1   1   0   0   1   1   0    1 ...   7.992058 -0.066014
 2357   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 6578   1   1   1   0   0   1   0   0   0    1 ...  -0.208086 -0.066014
 1366   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 293    0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 9325   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8869   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1506   1   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8468   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8405   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 1634   0   1   1   1   0   1   1   0   0    1 ...  -0.208086 -0.066014
 4011   1   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 8290   0   1   1   0   0   1   1   0   0    1 ...  -0.208086 -0.066014
 3315   1   1   1   0   1   1   1   0   0    1 ...  -0.208086 -0.066014

            x39       x40      x41  x42  x43  x44  x45  x46
 2260 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 4428 -0.075314  0.836751 -0.04151    1    8    3    2    4
 5304 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 2246 -0.075314 -0.435398 -0.04151    1    8    1    2    4
 6069 -0.075314 -0.435398 -0.04151    2    8    4    2    2
 8435 -0.075314  0.836751 -0.04151    1    8    4    1    4
 360  -0.075314 -0.435398 -0.04151    1    8    5    2    4
 2802 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 7690 -0.075314 -0.435398 -0.04151    1    7    5    1    3
 7143 -0.075314 -0.435398 -0.04151    2    8    5    2    4
 169  -0.075314 -0.435398 -0.04151    3    7    5    2    4
 9188 -0.075314 -0.435398 -0.04151    1    8    5    1    4
 4344 -0.075314 -0.435398 -0.04151    2    8    5    1    4
 3208 -0.075314  0.836751 -0.04151    2    7    3    2    4
 483  -0.075314 -0.435398 -0.04151    2    7    2    1    4
 3261 -0.075314 -0.435398 -0.04151    3    7    5    2    4
 7766 -0.075314 -0.435398 -0.04151    2    8    3    2    4
 1183 -0.075314 -0.435398 -0.04151    1    7    2    1    4
 3307 -0.075314 -0.435398 -0.04151    1    1    5    2    2
 7931 -0.075314 -0.435398 -0.04151    2    7    5    2    4
 3473 -0.075314  0.836751 -0.04151    1    8    4    2    2
 1603 -0.075314 -0.435398 -0.04151    1    7    3    1    4
 2287 -0.075314 -0.435398 -0.04151    3    1    5    3    4
 3838 -0.075314 -0.435398 -0.04151    1    8    2    2    4
 1084 -0.075314 -0.435398 -0.04151    2    7    5    2    4
 5418 -0.075314 -0.435398 -0.04151    2    8    3    2    4
 8159 -0.075314  3.381048 -0.04151    1    8    5    2    4
 8410 -0.075314 -0.435398 -0.04151    1    8    3    2    4
 416  -0.075314 -0.435398 -0.04151    2    6    2    2    4
 3653 -0.075314 -0.435398 -0.04151    1    8    4    2    4
 ...        ...       ...      ...  ...  ...  ...  ...  ...
 1669 -0.075314 -0.435398 -0.04151    1    1    5    2    2
 2112 -0.075314  0.836751 -0.04151    1    2    4    3    3
 8035 -0.075314 -0.435398 -0.04151    1    1    5    2    2
 6066 -0.075314 -0.435398 -0.04151    3    8    4    2    4
 7015 -0.075314 -0.435398 -0.04151    2    8    1    2    4
 5404 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 84   -0.075314 -0.435398 -0.04151    2    8    5    2    4
 6086 -0.075314 -0.435398 -0.04151    2    1    1    2    3
 7229 -0.075314 -0.435398 -0.04151    2    1    5    2    3
 2283 -0.075314  0.836751 -0.04151    1    8    5    2    2
 2887 -0.075314 -0.435398 -0.04151    2    8    3    2    4
 8131 -0.075314 -0.435398 -0.04151    3    8    1    3    4
 5281 -0.075314 -0.435398 -0.04151    2    7    5    2    4
 418  -0.075314 -0.435398 -0.04151    1    7    5    2    4
 7888 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 7367 -0.075314 -0.435398 -0.04151    2    1    5    2    2
 2709 -0.075314 -0.435398 -0.04151    3    8    3    2    4
 2357 -0.075314 -0.435398 -0.04151    3    7    3    2    2
 6578 -0.075314 -0.435398 -0.04151    1    8    3    2    4
 1366 -0.075314 -0.435398 -0.04151    1    8    5    2    4
 293  -0.075314 -0.435398 -0.04151    1    7    5    2    4
 9325 -0.075314  0.836751 -0.04151    1    8    5    2    4
 8869 -0.075314 -0.435398 -0.04151    1    7    3    2    2
 1506 -0.075314 -0.435398 -0.04151    1    7    5    2    4
 8468 -0.075314  3.381048 -0.04151    1    8    3    2    2
 8405 -0.075314 -0.435398 -0.04151    3    7    3    2    2
 1634 -0.075314 -0.435398 -0.04151    1    1    3    2    4
 4011 -0.075314  3.381048 -0.04151    3    8    5    1    4
 8290 -0.075314 -0.435398 -0.04151    1    8    1    2    2
 3315 -0.075314 -0.435398 -0.04151    1    7    5    2    4

 [3096 rows x 46 columns],
 5667    0
 7263    0
 1563    0
 4950    0
 8030    0
 7040    0
 1979    0
 1883    0
 438     0
 9049    0
 3794    0
 8849    0
 4113    0
 2986    0
 6828    0
 8640    0
 2280    0
 8756    0
 7536    0
 4712    0
 373     0
 4539    0
 8644    0
 2585    0
 1332    0
 7838    0
 9047    0
 3774    0
 1784    0
 9374    0
        ..
 2734    0
 189     0
 9167    0
 2747    0
 2047    1
 7849    0
 2558    0
 9274    0
 8666    0
 6396    0
 3385    0
 4555    0
 1184    0
 6420    0
 5051    0
 5311    0
 2433    0
 6949    0
 769     0
 1685    0
 8322    0
 5578    0
 4426    0
 466     0
 6265    0
 5734    0
 5191    0
 5390    0
 860     0
 7270    0
 Name: target, dtype: float64,
 2260    0
 4428    0
 5304    0
 2246    0
 6069    0
 8435    0
 360     0
 2802    0
 7690    0
 7143    0
 169     1
 9188    0
 4344    0
 3208    0
 483     0
 3261    0
 7766    0
 1183    0
 3307    0
 7931    0
 3473    0
 1603    0
 2287    0
 3838    0
 1084    0
 5418    0
 8159    0
 8410    0
 416     0
 3653    0
        ..
 1669    1
 2112    0
 8035    0
 6066    0
 7015    0
 5404    0
 84      0
 6086    0
 7229    0
 2283    0
 2887    0
 8131    0
 5281    0
 418     0
 7888    0
 7367    0
 2709    0
 2357    0
 6578    0
 1366    0
 293     0
 9325    0
 8869    0
 1506    1
 8468    0
 8405    0
 1634    0
 4011    0
 8290    0
 3315    0
 Name: target, dtype: float64,
 array([[   53.428571,  1028.571429,    82.742857,     0.      ],
        [  171.714286,  1885.714286,   308.994286,     0.      ],
        [  148.571429,  1628.571429,   267.131429,     0.      ],
        ...,
        [  110.      ,  1200.      ,   197.36    ,     0.      ],
        [   87.714286,  1714.285714,   136.571429,     0.      ],
        [   62.      ,  1200.      ,    96.2     ,     0.      ]]),
 array([[   62.      ,  1200.      ,    96.2     ,     0.      ],
        [   87.714286,  1714.285714,   136.571429,     0.      ],
        [   53.428571,  1028.571429,    82.742857,     0.      ],
        ...,
        [   66.285714,  1285.714286,   102.928571,     0.      ],
        [   74.      ,  1028.571429,   121.828571,     0.      ],
        [   66.285714,  1285.714286,   102.928571,     0.      ]])]

In [33]:
y_test.value_counts(normalize=False)

0    2939
1     157
Name: target, dtype: int64

In [34]:
y_train.value_counts(normalize=False)

0    5991
1     292
Name: target, dtype: int64

# Bagging y Minimum risk

In [20]:
from sklearn.ensemble import BaggingClassifier
cost_loss_tot=0

res =np.zeros(100)
res1=np.zeros(100)
res2=np.zeros(100)

for w in range (1,101):
      
    

    dt = DecisionTreeClassifier(max_depth=4,random_state=42)
    bagreg = BaggingClassifier(dt, n_estimators=w, 
                              bootstrap=True, oob_score=True, random_state=1)

    bagreg.fit(X_train, y_train)
    
    y_pred = bagreg.predict_proba(X_test)

    # 'C_FP','C_FN','C_TP','C_TN'

    y_pred_metacost = np.zeros(X_test.shape[0])


    for i in range(X_test.shape[0]):
        c_j0 = y_pred[i, 0] * cost_mat_test[i, 3] + y_pred[i, 1]* cost_mat_test[i, 1]
        c_j1 = y_pred[i, 0] * cost_mat_test[i, 0] + y_pred[i, 1]* cost_mat_test[i, 2]
    
        if c_j0 > c_j1:
            y_pred_metacost[i] = 1

    y_pred_bagging = bagreg.predict(X_test)

    y_pred_bagging

    from costcla.metrics import savings_score, cost_loss 

    cost_loss1=cost_loss(y_test, y_pred_bagging, cost_mat_test)

    cost_loss2=cost_loss(y_test, y_pred_metacost, cost_mat_test)
    
    cost_loss_tot=cost_loss1-cost_loss2

    res[w-1] =cost_loss_tot
    res1[w-1]=cost_loss1
    res2[w-1]=cost_loss2

C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

# RESULTADOS METACOST

In [21]:
cost_loss2=cost_loss(y_test, y_pred_metacost, cost_mat_test)
cost_loss2

150477.54279500002

In [22]:
res2=DataFrame(res2,columns=['Valor Metacost'])
res2.head()

   Valor Metacost
0   140836.642812
1   141260.928524
2   146430.499941
3   147687.094226
4   142435.642808

In [23]:
res2.min()

Valor Metacost    139281.471377
dtype: float64

In [24]:
res2.idxmin()

Valor Metacost    8
dtype: int64

In [25]:
minimun=139281.471377

# RESULTADOS BAGGING

In [26]:
 cost_loss1=cost_loss(y_test, y_pred_bagging, cost_mat_test)
 cost_loss1

190800.00001999998

In [27]:
res1=DataFrame(res1,columns=['Valor Bagging'])
res1.head()

   Valor Bagging
0  190829.428591
1  190800.000020
2  191067.428592
3  190800.000020
4  190800.000020

In [28]:
res1.min()

Valor Bagging    190800.00002
dtype: float64

In [29]:
res1.idxmin()

Valor Bagging    1
dtype: int64

# AHORRO METACOST-BAGGING

In [30]:
res=DataFrame(res,columns=['Valor Ahorro'])
res.head()

   Valor Ahorro
0  49992.785779
1  49539.071496
2  44636.928651
3  43112.905794
4  48364.357212

In [31]:
res.max()

Valor Ahorro    51518.528643
dtype: float64

In [32]:
res.idxmin()

Valor Ahorro    76
dtype: int64

# REGRESIÓN LOGÍSTICA

In [33]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e7)
logreg.fit(X_train, y_train)

LogisticRegression(C=10000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [34]:

y_pred_log=logreg.predict(X_test)

In [35]:
minimunlog=cost_loss(y_test, y_pred_log, cost_mat_test)

In [36]:
minimunlog

190800.00001999998

# AHORRO METACOST- REGRESIÓN LOGÍSTICA

In [37]:
minimunlog-minimun

51518.528642999969

# RANDOM FOREST

In [38]:
from sklearn.ensemble import RandomForestClassifier
res3=np.zeros(100)
ran=10

for r in range (1,101):
    
    ran=ran+10
    rfclas = RandomForestClassifier(n_estimators=1000,random_state=ran, n_jobs=-1)
    rfclas.fit(X_train,y_train)
    y_pred_ran = rfclas.predict(X_test)

    cost_loss1=cost_loss(y_test, y_pred_ran, cost_mat_test)
    res3[r-1] =cost_loss1

In [39]:
cost_loss(y_test, y_pred_ran, cost_mat_test)

191768.17144599999

In [40]:
res3=DataFrame(res3,columns=['Valor Ahorro'])
res3.head()

    Valor Ahorro
0  191689.885732
1  191554.742875
2  191640.742875
3  191694.171446
4  191640.742875

In [41]:
res3.min()

Valor Ahorro    191468.742875
dtype: float64

In [42]:
res3.idxmin()

Valor Ahorro    41
dtype: int64

# AHORRO METACOST-RADOM FOREST

In [43]:
191554-minimun

52272.52862299999

# NAYVE BAYES

In [44]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)
y_pred_navy=gnb.predict(X_test)
pred = gnb.predict_proba(X_test)

In [45]:
cost_loss(y_test, y_pred_navy, cost_mat_test)

247910.46270899998

# AHORRO METACOST-NAYVE BAYES

In [46]:
191554.742875-139281.471377

52273.27149799999

# KNEIGHBORS CLASSIFIER

In [48]:
from sklearn.neighbors import KNeighborsClassifier
res4=np.zeros(40)
ran=20

for r in range (1,41):
    ran=ran+150
    knn = KNeighborsClassifier(n_neighbors=ran)
    knn.fit(X_train, y_train)
    y_pred_knn=knn.predict(X_test)
    pred = knn.predict_proba(X_test)
    cost_loss1=cost_loss(y_test, y_pred_knn, cost_mat_test)
    res4[r-1] =cost_loss1

In [49]:
res4=DataFrame(res4,columns=['Valor Ahorro'])
res4.head()

   Valor Ahorro
0  190800.00002
1  190800.00002
2  190800.00002
3  190800.00002
4  190800.00002

In [50]:
res4.min()

Valor Ahorro    190800.00002
dtype: float64

In [51]:
res4.idxmin()

Valor Ahorro    0
dtype: int64

# AHORRO METACOST-KNEIGHBORS CLASSIFIER

In [ ]:
190800.00002-139281.471377

# EVALUACION DE MODELOS

# METACOST - BAGGING

In [36]:
 from sklearn.ensemble import BaggingClassifier

dt = DecisionTreeClassifier(max_depth=4,random_state=42)
bagreg = BaggingClassifier(dt, n_estimators=9, 
                              bootstrap=True, oob_score=True, random_state=1)

bagreg.fit(X_train, y_train)
    
y_pred = bagreg.predict_proba(X_test)

    # 'C_FP','C_FN','C_TP','C_TN'

y_pred_metacost = np.zeros(X_test.shape[0])


for i in range (1,3096):
        c_j0 = y_pred[i, 0] * cost_mat_test[i, 3] + y_pred[i, 1]* cost_mat_test[i, 1]
        c_j1 = y_pred[i, 0] * cost_mat_test[i, 0] + y_pred[i, 1]* cost_mat_test[i, 2]
    
        if c_j0 > c_j1:
            y_pred_metacost[i] = 1

y_pred_bagging = bagreg.predict(X_test)

y_pred_bagging

from costcla.metrics import savings_score, cost_loss 

cost_loss1=cost_loss(y_test, y_pred_bagging, cost_mat_test)
cost_loss2=cost_loss(y_test, y_pred_metacost, cost_mat_test)

C:\Users\freddialexsander\Anaconda3\lib\site-packages\sklearn\ensemble\bagging.py:537: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

In [37]:
cost_loss1

190800.00001999998

In [40]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import log_loss

In [42]:
a=accuracy_score(y_test, y_pred_metacost)

In [48]:
a

0.96965116279069696

In [56]:
f1_score(y_test, y_pred_metacost)

0.19441770933589989

In [57]:
log_loss(y_test, y_pred_metacost)

9.3377197442290782

In [58]:
accuracy_score(y_test, y_pred_bagging)

0.94928940568475451

In [59]:
f1_score(y_test, y_pred_bagging)

C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0

In [60]:
log_loss(y_test, y_pred_bagging)

1.7514818779072931

# REGRESIÓN LOGISTICA

In [61]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e7)
logreg.fit(X_train, y_train)

LogisticRegression(C=10000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [62]:
y_pred_log=logreg.predict(X_test)

In [63]:
accuracy_score(y_test, y_pred_log)

0.94928940568475451

In [64]:
f1_score(y_test, y_pred_log)

C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0

In [65]:
log_loss(y_test, y_pred_log)

1.7514818779072931

# RANDOM FOREST

In [66]:
rfclas = RandomForestClassifier(n_estimators=1000,random_state=120, n_jobs=-1)
rfclas.fit(X_train,y_train)
y_pred_ran = rfclas.predict(X_test)

cost_loss1=cost_loss(y_test, y_pred_ran, cost_mat_test)

In [67]:
cost_loss1

191554.742875

In [68]:
accuracy_score(y_test, y_pred_ran)

0.94186046511627908

In [69]:
f1_score(y_test, y_pred_ran)

0.01098901098901099

In [70]:
log_loss(y_test, y_pred_ran)

2.0080745934826387

# NAVY BAYES

In [71]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)
y_pred_navy=gnb.predict(X_test)
pred = gnb.predict_proba(X_test)

In [72]:
accuracy_score(y_test, y_pred_navy)

0.11531007751937984

In [73]:
f1_score(y_test, y_pred_navy)

0.099309437684972024

In [74]:
log_loss(y_test, y_pred_navy)

30.556813257570116

# KNEIGHBORS CLASSIFIER

In [75]:
knn = KNeighborsClassifier(n_neighbors=160)
knn.fit(X_train, y_train)
y_pred_knn=knn.predict(X_test)
pred = knn.predict_proba(X_test)
cost_loss1=cost_loss(y_test, y_pred_knn, cost_mat_test)

In [76]:
accuracy_score(y_test, y_pred_knn)

0.94928940568475451

In [77]:
f1_score(y_test, y_pred_knn)

C:\Users\fbaron\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1074: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.0

In [78]:
log_loss(y_test, y_pred_knn)

1.7514818779072931

# GRAFÍCAS

In [52]:
Modelos = ("MetaCost","Bagging","R.Log", "R.Forest", "N.Bayes","knn")
posicion_y = np.arange(len(Modelos))
unidades = (139281.471377, 190800.00002,190800.00001999998,191468.742875,247910.46270899998, 190800.00002)
plt.barh(posicion_y, unidades, align = "center")
plt.yticks(posicion_y, paises)
plt.xlabel("DOLARES")
plt.title("COSTO MÍNIMO")
plt.show()

In [ ]:
Modelos = ("MetaCost","Bagging","R.Log", "R.Forest", "N.Bayes","knn")
posicion_y = np.arange(len(Modelos))
unidades = (0.96965116279069696, 0.94928940568475451,0.94928940568475451,0.94186046511627908,0.11531007751937984,0.94928940568475451)
plt.barh(posicion_y, unidades, align = "center")
plt.yticks(posicion_y, paises)
plt.xlabel('ACCURACY')
plt.title("EVALUACIÓN DE MODELOS")
plt.show()